@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Ysabeau+Infant&display=swap');


:root{
	/*Define Colors*/
	--PortfolioBody: #FAF8F1;
	--PortfolioText: #144272;
	--PortfolioTextGrey:#252525ff;
	--PortfolioLinks:#1974D2;
	--PortfolioLinksHover:#0C3865;

	--PortfolioHeaderFooterLinks: #ffc556ff;
	--PortfolioHeaderFooter:#144272;
	--PortfolioHeaderFooterText: #FAF8F1;

	--PortfolioGithubGrey:#0d1117;
	--PortfolioGithubGreen:#26a641;

	/*Define Margins*/
	--paddingLeftRight:5px;

	/*Define Font Sizes*/
}

html{
	/*Ensures Smooth Scrolling
	https://stackoverflow.com/questions/7717527/smooth-scrolling-when-clicking-an-anchor-link
	*/
	scroll-behavior:smooth;
}

body{
	background-color: var(--PortfolioBody);
	color:var(--PortfolioTextGrey);
	font-family: 'Ysabeau Infant', sans-serif;
	margin:0px;
	text-align: center;
	font-size: 14px;
}

/*Headers*/
h1, h2, h3{

	color:var(--PortfolioText);
	font-family: 'Fredoka', sans-serif;
	font-weight: bold;
}

h2{
}

h3{
}


/*Header and Footers*/

header, footer{
	background-color: var(--PortfolioHeaderFooter);
	color: var(--PortfolioHeaderFooterText);
	padding: var(--paddingLeftRight);
}

footer{
	display:flex;
	justify-content: space-evenly;
	gap:10px;

}

.flexcontainer{
	display: flex;
	justify-content: space-between;
	gap: 10px;

	width:98vw;
}

.logo{
	display: flex;
	justify-content: center;
	padding: 10px;
}

ul{
	list-style: none;
	padding: 0px;
}

.headerul{
	margin-right: 10px;
}

.headerul > li{
	display: inline-block;
	padding: 10px;
}


/*Skills*/
.skillsul{
	padding: 0px 8px;
}

/*Technologies*/

#technologies > ul{
	columns: 3;
 	width: 40%;
  	display: inline-block;
}


/*Portfolio grid*/

.portfoliogrid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	gap: 10px;
	width: 80vw;
	margin: auto;
}

/*Portfolio items*/

.portfolioitem{
	border-radius: 10px;
	border-color: var(--PortfolioBody);
	border: double 1px;
	min-height: 400px;
}

.portfolioitem:hover{
	background-color:#FFE7BB;
	transition: ease 1s;
}

.portolioitemimg{
	min-height: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.portolioitemimg > img{
	width: 80%;
	height: auto;
	border-radius: 10px;
}

.portfolioitem > p{
	width: 75%;
	margin: auto;
}

.portolioitembuttons{
	display:flex;
	gap: 10px;
	width: 100%;
	justify-content: center;
	padding: 10px 0px;

}

.portolioitembuttons > button{
	font-size:1.5rem;
	border-radius: 30px;
	padding: 5px 15px;
	background-color: transparent;
	border-color:var(--PortfolioLinks);
	color:var(--PortfolioLinks);
}

.portolioitembuttons > button:hover{
	border-color:var(--PortfolioLinksHover);
	color:var(--PortfolioLinksHover);
}

.portolioitembuttons > .GitHubButton{
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--PortfolioGithubGrey);
	border-color: var(--PortfolioGithubGrey);

}

.portolioitembuttons > .GitHubButton:hover{
	color:var(--PortfolioGithubGreen);
	border-color: var(--PortfolioGithubGreen);
}

.GitHubButton > img{
	padding-right:2px;
}



/*Contact Informationation*/

#contact{
	padding:10px 20px;
}

.emailButton{
	font-size:2rem;
	border-radius: 30px;
	padding: 5px 15px;
	border-color:var(--PortfolioLinks);
	background-color: transparent;
	color: var(--PortfolioLinks);
	transform: ease 1s;

}

.emailButton:hover{
	border-color:var(--PortfolioLinksHover);
	background-color: transparent;
	color: var(--PortfolioLinksHover);
	
}

a{
	color:var(--PortfolioHeaderFooterLinks);
	text-decoration: none;
}

a:hover{
	color:;
	text-decoration: underline;
	transition: ease 1s;
}

/*MOBILE RESPONSIVE*/

@media(max-width: 700px){

	.portfoliogrid{
		grid-template-columns: 1fr;
	}

	.portfolioitem{
		min-height:	450px;
	}

	#technologies > ul{
		columns: 2;
	 	width: 70%;
	  	display: inline-block;
	}

	footer{
		display:block;
	}
}

